[Desktop Entry]
Encoding=UTF-8
Name=Tusc
Comment=Tusc P2P Cryptocurrency
Comment[fr]=Tusc, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Tusc, eşten eşe kriptografik sanal para birimi
Exec=tusc-qt %u
Terminal=false
Type=Application
Icon=tusc128
MimeType=x-scheme-handler/tusc;
Categories=Office;Finance;
