[Unit]
Description=TUSC's distributed currency daemon
After=network.target

[Service]
User=tusc
Group=tusc

Type=forking
PIDFile=/var/lib/tuscd/tuscd.pid

ExecStart=/usr/bin/tuscd -daemon -pid=/var/lib/tuscd/tuscd.pid \
          -conf=/etc/tusc/tusc.conf -datadir=/var/lib/tuscd

ExecStop=-/usr/bin/tusc-cli -conf=/etc/tusc/tusc.conf \
         -datadir=/var/lib/tuscd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
